
:root {
  --font-family-neue-haas-grotesk: "neue-haas-grotesk-display", sans-serif;
  --font-weight-bold: 900;
  --font-weight-normal: 500;
  --font-weight-thin: 200;
  --font-style-normal: normal;
  color-scheme: light;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #FFF7ED;
  min-height: 100%;
  overflow-x: clip;
}

#root {
  background-color: #FFF7ED;
}
